* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

img {
  width: 40px;
  height: 40px;
}

input {
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  height: 32px;
  padding: 0 15px;
}

.row {
  display: flex;
}

.row.container {
  justify-content: space-between;
}

.row.container > .col {
  height: calc(100vh - 40px);
  
  &:first-child {
    width: 10%;
  }
  &:last-child {
    width: 88%;
    border: 1px solid #dfdfdf;
  }
}

.new--train__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .carriage, .locomotive {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 3px 1px #dfdfdf;
    width: 60px;
    height: 60px;
    margin: 10px auto;

    img {
      cursor: grab;
    }
  }
}

.new--train__area {
  border: 1px dashed #dfdfdf;
  margin: 20px;
  padding: 20px;
  p {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.built--trains__area {
  margin: 20px;
  overflow-y: auto;
  height: calc(100% - 192px);
  .train {
    margin-bottom: 5px;
  }
}

.calculate--tracks {
  text-align: center;
  button {
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
    background-color: #222;
    height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}